# This is a basic workflow to help you get started with Actions

name: CI

# Controls when the action will run.
on:
  # Triggers the workflow on push or pull request events but only for the master branch
  push:
    branches: [master]
  #   pull_request:
  #     branches: [ master ]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v2

      # Runs a single command using the runners shell
      - name: Create file .ssh
        run: mkdir .ssh

      # Runs a single command using the runners shell
      - name: Create id_rsa
        run: touch .ssh/id_rsa

      # Runs a single command using the runners shell
      - name: setData id_rsa
        run: echo $PRIV > .ssh/id_rsa

      # Runs a single command using the runners shell
      - name: Create id_rsa.pub
        run: touch .ssh/id_rsa.pub

      # Runs a single command using the runners shell
      - name: setData id_rsa.pub
        run: echo $PUB > .ssh/id_rsa.pub
      # Runs a single command using the runners shell
      - name: Create known_hosts
        run: touch .ssh/known_hosts

      # Runs a single command using the runners shell
      - name: setData known_hosts
        run: echo $KNOW > .ssh/known_hosts

      # Runs a single command using the runners shell
      - name: setData id_rsa
        run: ls .ssh
      # Runs a single command using the runners shell
      - name: GET SSH DATE
        run: ssh -t root@68.183.149.58 date

    env:
      CI: true
      PRIV: ${{ secrets.PRIV }}
      PUB: ${{ secrets.PUB }}
      KNOW: ${{ secrets.KNOW }}
